@{
    ViewData["Title"] = "Users";
}

<a class="btn btn-primary" asp-controller="User" asp-action="ShowUserDetails">Benutzer anlegen / editieren</a>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Permissions</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (User user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>
                        <a asp-route-id="@user.Id" asp-controller="User" asp-action="ShowUserDetails" class="btn btn-warning">Edit</a>
                    </td>
                </tr>
            }
        }

    </tbody>

</table>